Aloysius Indrayanto <71955351+blue-wind-25@users.noreply.github.com>         <71955351+blue-wind-25@users.noreply.github.com>

Anthropic Claude    <242468646+Claude@users.noreply.github.com>              <242468646+Claude@users.noreply.github.com>
Anthropic Claude    <242468646+Claude@users.noreply.github.com>              <Claude[bot]@users.noreply.github.com>
Anthropic Claude    <242468646+Claude@users.noreply.github.com>              <claude[bot]@users.noreply.github.com>
Anthropic Claude    <242468646+Claude@users.noreply.github.com>              <noreply@anthropic.com>

Copilot SWE Agent   <198982749+Copilot@users.noreply.github.com>             <198982749+Copilot@users.noreply.github.com>
Copilot SWE Agent   <198982749+Copilot@users.noreply.github.com>             <198982749+copilot@users.noreply.github.com>

Google Gemini       <176961590+gemini-code-assist@users.noreply.github.com>  <176961590+Gemini-Code-Assist[bot]@users.noreply.github.com>
Google Gemini       <176961590+gemini-code-assist@users.noreply.github.com>  <176961590+gemini-code-assist[bot]@users.noreply.github.com>

Google Antigravity  <antigravity@google.com>                                 <antigravity@google.com>

xAI Grok            <grok@x.ai>                                              <grok@x.ai>
