Aloysius Indrayanto   <71955351+blue-wind-25@users.noreply.github.com>            <71955351+blue-wind-25@users.noreply.github.com>

Copilot SWE Agent     <198982749+copilot@users.noreply.github.com>                <198982749+copilot@users.noreply.github.com>

Anthropic Claude      <242468646+anthropic-code-agent@users.noreply.github.com>   <242468646+anthropic-code-agent@users.noreply.github.com>
Anthropic Claude      <242468646+anthropic-code-agent@users.noreply.github.com>   <242468646+claude@users.noreply.github.com>
Anthropic Claude      <242468646+anthropic-code-agent@users.noreply.github.com>   <claude[bot]@users.noreply.github.com>
Anthropic Claude      <242468646+anthropic-code-agent@users.noreply.github.com>   <noreply@anthropic.com>
Anthropic Claude      <242468646+anthropic-code-agent@users.noreply.github.com>   <claude@anthropic.com>

OpenAI Codex          <267193182+codex@users.noreply.github.com>                  <267193182+codex@users.noreply.github.com>
OpenAI Codex          <267193182+codex@users.noreply.github.com>                  <codex@openai.com>

Google Gemini         <200291788+gemini-code-assist@users.noreply.github.com>     <200291788+gemini-code-assist@users.noreply.github.com>
Google Gemini         <200291788+gemini-code-assist@users.noreply.github.com>     <200291788+gemini-code-assist[bot]@users.noreply.github.com>

Google Antigravity    <antigravity@google.com>                                    <antigravity@google.com>

xAI Grok              <grok@x.ai>                                                 <grok@x.ai>
